<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeatStock</title>
    <link rel="stylesheet" href="style.css">
    <script src="static/script.js"></script>


</head>


<body>
<!--  ********************    HEADER     ************ -->
     <logo><a href="/">SeatStock</a></logo>
     <signinButton><a href="login">Sign In</a></signinButton>
     <faqButton><a href="static/FAQ.html">How it Works</a></faqButton>
     <tixButton><a href="tickets">Your Tickets</a></tixButton>



 
<!--  ***********************   BODY     *********** -->

  

<div class="sell-body">
    <div class="sell-game-title" id="sell-game-title"></div><br>
    <form id="sell-Ticket" class="stuff" method="post">
        
        <br>
        <img src="static/icons/stadiumicon.png" class="buy-stadium-icon"><br><br> <br>
        <input type="text" id="price" placeholder="Price" required><br><br>
        
        <input type="submit" class="submit-price" value="Submit">
    </form>












<!--  ***********************   SCRIPT     *********** -->
    <script>
        const game = new URLSearchParams(window.location.search).get("game");
        console.log(game);
        const game_title = document.getElementById("sell-game-title");
        if (game === "iowavmichiganst") {
            game_title.textContent = "Iowa vs Michigan State"
        } else if (game === "iowavrutgers") {
            game_title.textContent = "Iowa vs Rutgers"
        } else if (game === "iowavpurdue") {
            game_title.textContent = "Iowa vs Purdue"
        } else if (game === "iowavminnesota") {
            game_title.textContent = "Iowa vs Minnesota"
        }
   </script>
    
    
</div>









<!--  *******************    FOOTER ********************    **** -->
<br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2023 SeatStock V. All rights reserved. </p>
    </footer>






</body>








































</html>
