<!DOCTYPE html>
    <html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SeatStock</title>
        <link rel="stylesheet" href="static/style.css">
        <script src="static/script.js"></script>
        


    </head>

    <body>
<!--************************   HEADER  *********************-->
    <logo><a href="/">SeatStock</a></logo>
    {% if session %}
    <signinButton><a href="logout"><img height="24" width="24" src="{{ session.userinfo.picture }}"/> Sign Out</a></signinButton>
    {% else %}
    <signinButton><a href="login">Sign In</a></signinButton>
    {% endif %}
    <faqButton><a href="FAQ">How it Works</a></faqButton>
    <tixButton><a href="tickets">My Tickets</a></tixButton>

  
 
 
 
 
 <!--**************************  BODY  ***********************-->

          <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Tickets')">Tickets</button>
            <button class="tablinks" onclick="openTab(event, 'Active-Bids')">Active Bids</button>
            <button class="tablinks" onclick="openTab(event, 'Active-Asks')">Active Asks</button>
            <button class="tablinks" onclick="openTab(event, 'History')">History</button>
          </div>

          <div id="Tickets" class="tabcontent">
            <div class="tickets-container">
              <div class="ticket">
                <p class="ticket_title">Iowa vs Purdue</p>
                <p class="ticket_date">September 30, 2023</p>
                <p class="ticket_id">N65X-HTRM-675B-HT98</p>
                <img class="ticket_img" src="../static/sample_barcode.gif">
             </div>
             <div class="ticket">
              <p class="ticket_title">Iowa vs Minnesota</p>
              <p class="ticket_date">October 7, 2023</p>
              <p class="ticket_id">N65X-HTRM-675B-HT98</p>
              <img class="ticket_img" src="../static/sample_barcode.gif">
           </div>
            </div>
           </div>
  
           <div id="Active-Bids" class="tabcontent">
            <div class="active-bids-container">
              <div class="active-bids-header">
                <p class="active-bids-header-user">User</p>
                <p class="active-bids-header-offer">Offer</p>
                <p class="active-bids-header-ticket">Ticket</p>
              </div>
              <div class="bids-row">
                <p class="bids-row-user">Joe Doe</p>
                <p class="bids-row-offer">$45</p>
                <p class="bids-row-ticket">Iowa vs Minnesota</p>
              </div>
              <div class="bids-row">
                <p class="bids-row-user">Jane Smith</p>
                <p class="bids-row-offer">$50</p>
                <p class="bids-row-ticket">Iowa vs Minnesota</p>
              </div>
              <div class="bids-row">
                <p class="bids-row-user">Alex Smith</p>
                <p class="bids-row-offer">$70</p>
                <p class="bids-row-ticket">Iowa vs Purdue</p>
              </div>
            </div>
           </div>
  
           <div id="Active-Asks" class="tabcontent">
               <div class="active-asks-container">
                <div class="active-asks-header">
                  <p class="active-asks-header-user">Ticket</p>
                  <p class="active-asks-header-offer">Ask</p>
                </div>
                <div class="asks-row">
                  <p class="asks-row-ticket">Iowa vs Minnesota</p>
                  <p class="asks-row-ask">$55</p>
                </div>
                <div class="asks-row">
                  <p class="asks-row-ticket">Iowa vs Purdue</p>
                  <p class="asks-row-ask">$50</p>
                </div>
               </div>
           </div>
           <div id="History" class="tabcontent">
              <p>No previous transactions</p>
          </div>
          




        <!--************************  SCRIPT  ****************-->
        <script>
            function openTab(evt, tabName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(tabName).style.display = "block";
              evt.currentTarget.className += " active";
            }
        </script>

















    </body>






















</html>